<!-- products.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-gray-200">
    <div class="container mx-auto my-6">
        <div class="flex justify-end mb-4">
            <a href="/cart" class="bg-blue-500 text-white px-4 py-2 rounded-md">Carrito</a>
        </div>
        <h1 class="text-3xl font-semibold mb-6">Lista de Productos</h1>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{#each products}}
                <li class="bg-white p-4 shadow-md rounded-md">
                    <h2 class="text-xl font-semibold mb-2">{{this.title}}</h2>
                    <p class="text-gray-700">Precio: ${{this.price}}</p>
                    <img src="{{this.thumbnail}}" alt="{{this.title}}" class="my-4 max-h-40 object-contain">
                    <p class="text-gray-700">Club: {{this.club}}</p>
                    <p class="text-gray-700">Liga: {{this.league}}</p>
                    <p class="text-gray-700">Temporada: {{this.season}}</p>
                    <button onclick="addToCart('{{this._id}}')" class="bg-green-500 text-white px-4 py-2 rounded-md">Agregar al carrito</button>
                </li>
            {{/each}}
        </ul>
    </div>

    <script>
        // Función para agregar un producto al carrito
    function addToCart(pid, cid) {
            fetch(`/api/carts/${cid}/product/${pid}`, {
                method: 'post'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error HTTP ${response.status}`);
                }
                return response.text();
            })
            .then(result => {
                try {
                    const parsedResult = JSON.parse(result);
                    if (parsedResult.status === 'error') {
                        throw new Error(parsedResult.error);
                    }
                    alert(`Ok. Todo salió bien! :)\nEl producto se agregó al carrito con id=${parsedResult.payload._id}!`);
                } catch (error) {
                    alert(`Ocurrió un error :(\n${error}`);
                }
            })
            .catch(err => alert(`Ocurrió un error :(\n${err}`));
        }
    </script>
</body>
</html>

