<!-- products.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-gray-200">
    <div class="container mx-auto my-6">
        <h1 class="text-3xl font-semibold mb-6">Lista de Productos</h1>
        <p class="mb-4">Bienvenido, {{user.username}} (Rol: {{user.role}})</p>
        <a href="/login" class="bg-blue-500 text-white px-4 py-2 rounded-md">Iniciar Sesión</a>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{#each products}}
                <li class="bg-white p-4 shadow-md rounded-md">
                    <h2 class="text-xl font-semibold mb-2">{{this.title}}</h2>
                    <p class="text-gray-700">Precio: ${{this.price}}</p>
                    <p class="text-gray-700">Categoría: {{this.category}}</p>
                    <p class="text-gray-700">Disponibilidad: {{this.availability}}</p>
                    <button class="bg-green-500 text-white px-4 py-2 rounded-md mt-2" onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
                </li>
            {{/each}}
        </ul>
        <form action="/api/sessions/logout" method="POST" class="mt-4">
            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md">Cerrar Sesión</button>
        </form>
    </div>

  <script>
    // Función para agregar un producto al carrito
    function addToCart(productId) {

      // Obtén el ID del producto desde el atributo data-product-id
      const productIdToAdd = productId;
      
      // Aquí puedes realizar una solicitud al servidor para agregar el producto al carrito
      // Ejemplo de solicitud fetch (debes implementar tu ruta y método correspondientes)
      fetch(`/api/carts/:cid/products/${productIdToAdd}`, {
        method: 'PUT', // Puedes usar PUT para agregar el producto
      })
      .then(response => {
        if (response.status === 200) {
          // Producto agregado al carrito con éxito
          console.log('Producto agregado al carrito:', productIdToAdd);
          // Actualiza la vista o realiza cualquier otra acción necesaria
        } else {
          console.error('Error al agregar el producto al carrito');
        }
      })
      .catch(error => {
        console.error('Error de red:', error);
      });
    }
  </script>
</body>
</html>

